php_value include_path  ".;D:\wampserver\www\EventCalendar\www\shares;D:\wampserver\www\EventCalendar\www\adodb;D:\wampserver\www\EventCalendar\vendor"
php_value short_open_tag "On"
php_value display_errors "On"
php_value default_charset   "utf-8"
php_value session.save_handler  "files"
php_value session.gc_maxlifetime  "1801"



